@media (min-width: 1024px){
  body{
    background: gray;
  }
.prim{
  potition:  relative;
  text-align: left;
  align-content: flex-end;
  z-index: 100;
  width: 100%;
  background: black;
  color: white;
  display: flex;

}
.prim:hover{
  background: white;
  color: black;
}
.lis{
  color: white;
}

.nav{
  
}
.img1{
  padding: 100px;
  margin-left: 600px;
  margin-top: 80px;
  height: 500px;
  width: 500px;

}
.img2{
  margin-left: 20px;

  height: 340px;
  width: 340px;
}
h2{
  width: 180px;
  margin-left: 400px;
  margin-top: -340px;

}
.ist{
  padding: 1rem;
  width: 370px;
  color: black;
  margin-left: 380px;
  margin-top: -40px;
}
}
@media(max-width: 1023px){

  .prim{
  potition:  relative;
  text-align: left;
  align-content: flex-end;
  z-index: 100;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  text-decoration: none;
}
.prim:hover{
  background: blue;
}
.lis{
  color: white;
  text-decoration-color: white;
}
}


@media (max-width:  767px){

  .prim{
  potition:  relative;
  text-align: left;
  align-content: flex-end;
  z-index: 100;
  width: 100%;
  background: gray;
  color: black;
  display: flex;

}
.prim:hover{
  background: yellow;
}
.lis{
  color: white;
}
}
       
